@import '../../styles/system.scss';

#counter {
    display: flex;
    font-family: "Rajdhani";
    font-size: 120px;
    color: $titulo;

    .minutes,
    .seconds {
        display: flex;
        justify-content: center;
        background-color: $white;
        border-radius: $border-radius;
        width: 176px;

        span {            
            width: 50%;
            text-align: center;

            & + span {
                border-left: 3px solid $background;
            }
        }
    }

    .minutes {
        margin-right: .8rem;
    }

    .seconds {
        margin-left: .8rem;
    }
}
