$white: #fff;
$background: #f2f3f5;
$grey-line: #dcdde0;
$text: #666666;
$text-highlight: #b3b9ff;
$titulo: #2E384D;
$red: #e83f5b;
$green: #4cd62b;
$blue: #5965e0;
$blue-dark: #4953b8;
$blue-twitter: #2aa9e0;

$border-radius: 5px;